@import "../../assets/variables.scss";

@mixin user-select($select) {
  @each $pre in -webkit-, -moz-, -ms-, -o- {
    #{$pre + user-select}: #{$select};
  }
  #{user-select}: #{$select};
}

:host {
  list-style: none;
  background: #f1f1f1;
  border: 1px solid #ccc;
  float: left;
  box-sizing: border-box;
  width: 185px;
  height: 185px;
  padding: 0;
  text-align: center;
  @include user-select(none);
}

.player-x {
  color: $contrastingColorNo1;
}

.player-o {
  color: $contrastingColorNo2;
}

.player-x,
.player-o {
  font-size: 150px;
}

.winning-box,
.winning-box:hover {
  width: 185px;
  height: 185px;
  background: $specialColor;
  cursor: not-allowed;
}
