@import "../../assets/variables.scss";

:host {
  list-style: none;
  background: #f1f1f1;
  border: 1px solid #ccc;
  float: left;
  box-sizing: border-box;
  width: 185px;
  height: 185px;
  padding: 0;
  text-align: center;
}

.player-x {
  color: $contrastingColorNo1;
}

.player-o {
  color: $contrastingColorNo2;
}

.player-x,
.player-o {
  font-size: 150px;
}
