.container {
  box-sizing: border-box;
  width: 185px;
  height: 185px;
  padding: 0;
}

.player-x,
.player-o {
  font-size: 150px;
}

@media (max-width: 900px) {
  .container {
    width: 160px;
    height: 160px;
  }
}

@media (max-width: 700px) {
  .container {
    width: 155px;
    height: 155px;
  }
  .player-x,
  .player-o {
    font-size: 100px;
  }
}
