@import "../../assets/variables.scss";

@mixin user-select($select) {
  @each $pre in -webkit-, -moz-, -ms-, -o- {
    #{$pre + user-select}: #{$select};
  }
  #{user-select}: #{$select};
}

.container {
  list-style: none;
  background: $neutralColorNo1;
  border: 1px solid $neutralColorNo2;
  float: left;
  text-align: center;
  @include user-select(none);
}

.player-x {
  color: $contrastingColorNo1;
}

.player-o {
  color: $contrastingColorNo2;
}

.winning-box {
  background-color: $specialColor;
  cursor: not-allowed;
}

.x-next-player {
  cursor: url(src/assets/icons/cross.png), pointer;
}

.o-next-player {
  cursor: url(src/assets/icons/circle.png), pointer;
}

.move-forbidden {
  cursor: not-allowed;
}
