.container {
  box-sizing: border-box;
  width: 185px;
  height: 185px;
  padding: 0;
}

.player-x,
.player-o {
  font-size: 150px;
}

@media (max-width: 896px) {
  .container {
    width: 160px;
    height: 160px;
  }
}

@media (max-width: 640px) {
  .container {
    width: 150px;
    height: 150px;
  }
  .player-x,
  .player-o {
    font-size: 150px;
  }

  @media (max-width: 414px) {
    .container {
      width: 115px;
      height: 115px;
    }
    .player-x,
    .player-o {
      font-size: 115px;
    }
  }
  @media (max-width: 320px) {
    .container {
      width: 100px;
      height: 100px;
    }
    .player-x,
    .player-o {
      font-size: 100px;
    }
  }
}
