@import "../../assets/variables.scss";

:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header {
  font-size: 25px;
}

footer {
  text-shadow: black 0.1em 0.1em 0.2em;
}

header,
footer {
  color: $mainColor;
}
