@import "../../assets/variables.scss";

:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header {
  font-size: 25px;
}

footer {
  text-shadow: $fadeColor 1.6px 1.6px 3.2px;
}

header,
footer {
  color: $mainColor;
}
