@import "../../assets/variables.scss";

article {
  order: 2;
}

footer {
  order: 4;
}

aside {
  width: 250px;
  &.left {
    order: 1;
  }
  &.right {
    order: 3;
  }
}

header,
footer {
  width: 100%;
}

@media (max-width: 1224px) {
  aside {
    width: 160px;
  }
}

@media (max-width: 1024px) {
  aside {
    width: 130px;
  }
}

@media (max-width: 896px) {
  :host {
    flex-direction: column;
  }
  aside {
    width: 100%;
    &.left {
      font-size: 20px;
    }
    &.right {
      font-size: 15px;
    }
  }
  article {
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    left: 50%;
  }
}
