@import "../../assets/variables.scss";

@function getBoardWidth($boxSize) {
  @return 3 * $boxSize;
}

:host {
  clear: both;
  display: table;
  margin: 0 auto;
  padding: 0;
  &:focus {
    outline: none;
  }
  width: 3 * $boxSizeNormal;
}

@media (max-width: 896px) {
  :host {
    width: getBoardWidth($boxSizeMedium);
  }
}

@media (max-width: 640px) {
  :host {
    width: getBoardWidth($boxSizeSmall);
  }
}

@media (max-width: 414px) {
  :host {
    width: getBoardWidth($boxSizeTiny);
  }
}

@media (max-width: 320px) {
  :host {
    width: getBoardWidth($boxSizeMicro);
  }
}
